* {
  box-sizing: border-box;
}

html {
  font-family: "Lucida Sans", sans-serif;
}

.header {
  font-size: 25px;
  color: #7ab9f8;
  text-shadow: 5px 5px 2px rgba(62,62,62,1);
  padding: 15px;
  text-align: center;
  background-image: url('img/logo.gif');
  background-repeat: no-repeat;
  background-size: cover;
}

.footer {
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  padding: 15px;
  background-image: url('img/logo.gif');
  background-repeat: no-repeat;
  background-size: cover;
}

.footer p{
  line-height: 1.4;
}

.articles{
  margin-top: 5%;
}

.articles p{
  text-align: justify;
}

.nom-footer{
  color:blue;
}

.nom-footer:hover{
  color: #7ab9f8; 
}

.logo{
  width: 80px;
  vertical-align: middle;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.format a{
  text-decoration: none;
  color: black;
  text-align: justify;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  text-align: center;
  padding: 10px;
  margin-bottom: 25px;
  background-color: #AEC6CF;
  
}

.menu li:hover {
  background-color: #EAE9E9;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

[class*="col-"] {
  float: left;
  padding: 20px;
}

/* CSS Spotify Responsive */

.iframe-spoty {
  position: relative;
  overflow: hidden;
  padding-top: 136.00%;
}
.iframe-spoty iframe {
  position: absolute;
  top: 0;
  border: 0;
  height: 100%;
  width: 100%;
}

/* ESTRUCTURA RESPONSIVE TELEFON MOVIL */

[class*="col-"] {
  width: 100%;
}

/* ESTRUCTURA RESPONSIVE TABLETS */
@media only screen and (min-width: 600px) {
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

/* ESTRUCTURA RESPONSIVE ORDENADOR */
@media only screen and (min-width: 768px) {
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}